*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    z-index: 11;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
                rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.navbar .container .navbar-collapse{
    margin-left: 120px;
    & .navbar-nav .nav-link{
        font-size: 16px;
        text-transform:uppercase ;
        font-weight: bold;   
    }
}
.navbar .container .navbar-collapse .btn{
    background-color: black;
    color: white;
}
.navbar .container .navbar-collapse .btn:hover{
    background-color: rgba(0, 0, 0, 0.771);
}
@media (max-width: 575.98px) { 
    .navbar .container .navbar-collapse{
        margin-left: 5px;
        /* background-color: blue; */
    }
}